Hei!

Sulle on genereeritud uus parool: $password

Palume vahetada automaatselt genereeritud parool esimesel võimalusel.

Parool on kehtiv südaööseni.

Kui Sina ei proovinud oma parooli taastada, siis võid kirja rahulikult kustutada!

